<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="cubic_doggo_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="servo1_servo1_padding_FR">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo1_servo1_padding_FR']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="servo2_servo2_padding_FR">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo2_servo2_padding_FR']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="servo3_calfFeet_FR">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo3_calfFeet_FR']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="servo1_servo1_padding_FL">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo1_servo1_padding_FL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="servo2_servo2_padding_FL">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo2_servo2_padding_FL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="servo3_calfFeet_FL">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo3_calfFeet_FL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="servo1_servo1_padding_BR">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo1_servo1_padding_BR']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="servo2_servo2_padding_BR">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo2_servo2_padding_BR']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="servo3_calfFeet_BR">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo3_calfFeet_BR']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="servo1_servo1_padding_BL">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo1_servo1_padding_BL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="servo2_servo2_padding_BL">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo2_servo2_padding_BL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="servo3_calfFeet_BL">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo3_calfFeet_BL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
