<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="cubic_doggo_controller" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="servo1_channel_FR">11</param>
            <param name="servo2_channel_FR">12</param>
            <param name="servo3_channel_FR">13</param>
            <param name="servo1_channel_FL">11</param>
            <param name="servo2_channel_FL">12</param>
            <param name="servo3_channel_FL">13</param>
            <param name="servo1_channel_GR">11</param>
            <param name="servo2_channel_GR">12</param>
            <param name="servo3_channel_GR">13</param>
            <param name="servo1_channel_GL">11</param>
            <param name="servo2_channel_GL">12</param>
            <param name="servo3_channel_GL">13</param>
        </hardware>
        <joint name="servo1_servo1_padding_FR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo2_servo2_padding_FR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo3_calfFeet_FR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo1_servo1_padding_FL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo2_servo2_padding_FL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo3_calfFeet_FL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo1_servo1_padding_BR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo2_servo2_padding_BR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo3_calfFeet_BR">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo1_servo1_padding_BL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo2_servo2_padding_BL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="servo3_calfFeet_BL">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">3.14</param>
            </state_interface>
            <state_interface name="velocity">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
              <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
    </ros2_control>
</robot>
