<?xml version="1.0"?>
<robot name="cubic_doggoV0" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="common_properties.xacro"/>
    <xacro:include filename="cubic_doggo_leg.xacro"/>
<!-- ================================================================================================================================== -->
    <link name="world"/>

    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.052 0.096 0.06"/>
            </geometry>
            <origin xyz="0 0 -0.03" rpy="0 0 0"/>
            <material name="grey"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.052 0.096 0.06"/>
            </geometry>
            <origin xyz="0 0 -0.03" rpy="0 0 0"/>
        </collision>
        <xacro:lazy_inertia m="0.01"/>
    </link>
    <joint name="world_base_link" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>    
<!-- ================================================================================================================================== -->
    <xacro:doggo_leg prefix='FR'/>
    <xacro:doggo_leg prefix='FL'/>
    <xacro:doggo_leg prefix='BR'/>
    <xacro:doggo_leg prefix='BL'/>   
<!-- ================================================================================================================================== -->
</robot>
